<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat온(On)에게 물어보세요</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>평가 결과 데이터</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">분석 시작</button>
        </form>
    </div>
</body>
</html>
